* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8f8;
}

.container-nav1 {
    height: 9vh;
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-n1left {
    display: flex;
}

.container-n1center {
    display: flex;
    gap: 2rem;
}

.container-n1center a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
}

.container-n1right {
    display: flex;
}

.container-n1right span {
    font-size: 1.2re    m;
}